*~
*.*_
doc/*.tmp
SMHasher
Makefile
CMakeFiles/
CMakeCache.txt
*.cmake
*.a
*.o
a.out
.gdb_history
/.svn
/build
/build32
libSMHasherSupport.a
/TAGS

README.speed
YoshimitsuTRIAD/
Yoshimura/
crcutil-1.0/
crcutil/
doc/FarmHash128.fast
falkhash/
fast-hash/
fsbench-0.14/
fsbench-density/
*.bak
prof.h
zlib/
VERSION.h
