*~
/build
/.svn
/build32
libSMHasherSupport.a
/TAGS

SMHasher

README.speed
YoshimitsuTRIAD/
Yoshimura/
crcutil-1.0/
crcutil/
doc/FarmHash128.fast
falkhash/
fast-hash/
fsbench-0.14/
fsbench-density/
*.bak
prof.h
/zlib/
/clhash/
/PowerHash/
.gdbinit

# Apple artefact
.DS_Store

/blake3/Makefile
/blake3/blake3_avx2.o
/blake3/blake3_avx512.o
/blake3/blake3_sse41.o
/blake3/libblake3.a
/blake3/main.c
/blake3/test.py
/blake3/test_vectors.json

*.swp
