---
BasedOnStyle:  LLVM
IndentWidth: 8
UseTab: Always
---
Language:      Cpp
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
BreakBeforeBraces: Linux
IndentPPDirectives: AfterHash
SortIncludes:    false
SortUsingDeclarations: false
...
